{{ define "main" }}
<section class="main">
  <div class="container">
    <div class="row">
      <div class="col">
        {{ partial "title" . }}
        <div class="py-3">{{ .Content | markdownify }}</div>
      </div>
    </div>
    <div class="row" data-masonry='{"percentPosition": true }'>
      {{- $images := .Resources.ByType "image" -}}
      {{ range $images }}
      <div class="col-6 col-md-4 col-xl-3 pb-3 px-2">
        <img src="{{ .RelPermalink }}" height="{{ .Height }}" width="{{ .Width }}" alt="Gallery Image" class="img-fluid">
      </div>
      {{ end }}
    </div>
  </div>
</section>

{{ end }}